<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.NewspaperFileRecordMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.NewspaperFileRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="file_id" property="fileId" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="compress_file_name" property="compressFileName" jdbcType="VARCHAR" />
    <result column="compress_file_path" property="compressFilePath" jdbcType="VARCHAR" />
    <result column="compress_file_size" property="compressFileSize" jdbcType="BIGINT" />
    <result column="file_ext" property="fileExt" jdbcType="VARCHAR" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>